div {
    border-style: dotted;
    border-width: 1px;
}

.inlineflex {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: stretch;
}

.inlineflexitem {
    flex-grow: 1;
    background-color: orange;
    padding: 10px;
    min-width: 280px;
}
